@import '../../../scss/import.scss';
.slider{
    transform: translateY(-120px);
    .swiper{
        position: relative;
    .swiper-button-prev{
        display: none;
        
    }
    .swiper-button-next{
        display: none;      
    }
}

}
