@font-face {
  font-family: "didot";
  src: url("./assets/fonts/didot-regular.ttf") format("ttf");
  font-display: fallback;
}
@font-face {
  font-family: "gt";
  src: url("./assets/fonts/SVN-GothamRegular.otf") format("otf");
  font-display: fallback;
}
@font-face {
  font-family: "gtb";
  src: url("./assets/fonts/SVN-GothamBold.otf") format("otf");
  font-display: fallback;
}
